.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.styles-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid {
  width: 100%;
  -ms-grid-columns: 0.25fr 3fr 0.25fr;
  grid-template-columns: 0.25fr 3fr 0.25fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.styles-main {
  width: 100%;
}

.grid-2 {
  -ms-grid-columns: 1.75fr 1fr;
  grid-template-columns: 1.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.leftcol-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.grid-3 {
  grid-column-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200%, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #f76809;
  font-weight: 400;
}

.leftcol1 {
  width: 100%;
}

.heading-2 {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #f76809;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
}

.outline-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.24);
}

.heading-3 {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.opensans-v-sm {
  font-size: 8px;
}

.leftcol-block {
  margin-bottom: 49px;
}

.main-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  line-height: 36px;
  font-weight: 400;
}

._70px {
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  line-height: 72px;
  font-weight: 400;
}

._35px {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  line-height: 36px;
  font-weight: 400;
}

.subheading1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 400;
}

.subheading2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.colors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.47);
  background-color: #b5a484;
}

.card-container.b5a484 {
  width: 120px;
  background-color: #b5a484;
}

.card-container.white {
  width: 120px;
  margin-right: 22px;
  background-color: #fff;
}

.card-container.black {
  width: 120px;
  margin-right: 22px;
  background-color: #0a0a0a;
}

.card-container.bd3131 {
  width: 120px;
  background-color: #bd3131;
}

.card-container.grey {
  width: 120px;
  background-color: #f3f1ed;
}

.colortitles {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.47);
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.heading-5 {
  margin-top: 0px;
  color: #858181;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block {
  margin-bottom: 17px;
  padding: 15px;
  background-color: #bd3131;
  color: #fff;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #bd3131;
  font-weight: 400;
}

.paragraph.regular {
  font-weight: 400;
}

.paragraph.light {
  font-weight: 300;
}

.paragraph.dark-semi-bold {
  color: #bd3131;
  font-weight: 600;
}

.paragraph.dark-semi {
  color: #bd3131;
}

.paragraph.white-semi {
  color: #fff;
}

.paragraph.white-regular {
  color: #fff;
}

.paragraph.white-light {
  color: #fff;
  font-weight: 300;
}

.heading-6 {
  font-family: 'Open Sans', sans-serif;
  color: #bd3131;
  font-weight: 600;
}

.heading-6.regular {
  font-weight: 400;
}

.heading-6.light {
  font-weight: 300;
}

.heading-6.dark {
  color: #bd3131;
}

.heading-6.dk-regular {
  font-weight: 400;
}

.heading-6.white-semi {
  color: #fff;
}

.heading-6.light-regular {
  color: #fff;
}

.heading-6.white-light {
  color: #fff;
  font-weight: 300;
}

.paragraph-dark {
  margin-bottom: 17px;
  padding: 15px;
  background-color: #fff;
  color: #fff;
}

.paragraph-light {
  margin-bottom: 17px;
  padding: 15px;
  background-color: #bd3131;
  color: #fff;
}

.button {
  padding: 13px 40px;
  background-color: #bd3131;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
}

.button:hover {
  background-color: #932525;
}

.grid-5 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icons1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 200%;
  background-color: #d3cfcf;
}

.icons-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.hero-main {
  width: 95%;
  max-width: 1200px;
  min-height: 10px;
  background-color: #fff;
}

.sponsered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 3px 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b5a484;
}

.sponsered-by {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 3px 7px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  line-height: 20px;
}

.logo-wrap {
  margin-left: 36px;
}

.background-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/www.knobcreek.com-1293609732325191.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-3 {
  width: 90%;
  height: 420px;
  min-height: 40px;
}

.hero-class-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-top: -89px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-5 {
  height: 340px;
  background-color: #b5a484;
}

.centerpsnrl {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-top: -65px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.flavor-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-image {
  width: 50%;
  background-image: url('../images/pour-mug.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  width: 100%;
  min-height: 25px;
}

.title-block-1 {
  width: 100%;
  min-height: 25px;
}

.heading-7 {
  text-align: center;
}

.heading-8 {
  font-weight: 600;
  text-align: center;
}

.paragraph-2 {
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}

.heading-9 {
  border: 1px none #000;
  color: #932525;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -1px;
}

.link {
  border: 0px none #000;
  text-decoration: none;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-top: -40px;
  padding-right: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-2 {
  width: 70%;
  margin-top: 129px;
  text-align: center;
}

.knob-creek-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-10 {
  margin-top: 40px;
  color: #fff;
  font-size: 4em;
  line-height: 1em;
  font-weight: 400;
}

.paragraph-3 {
  margin-top: 15px;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}

.recent-articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-90-percent {
  width: 95%;
  min-height: 25px;
  margin-right: auto;
  margin-left: auto;
}

.heading-11 {
  margin-top: 44px;
  margin-bottom: 41px;
  font-weight: 600;
  text-align: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-10 {
  width: 30%;
  height: 400px;
  background-color: #f3f1ed;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f1ec;
}

.card-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  padding-top: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f3f1ec;
}

.div-block-12 {
  margin-top: -39px;
  border: 1px none #000;
  border-radius: 200%;
  background-color: #f3f1ed;
}

.icon-circle {
  position: relative;
  width: 80px;
  height: 82px;
  margin-top: -38px;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f1ed;
  border-radius: 200%;
  background-color: #f3f1ed;
}

.image-100 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  padding-top: 0%;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.copy {
  position: relative;
  z-index: 800;
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f3f1ed;
}

.heading-12 {
  margin-top: -5px;
  font-size: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.heading-13 {
  margin-top: 0px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
}

.heading-14 {
  font-weight: 600;
  text-align: center;
}

.card-link {
  color: #932525;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.date {
  margin-top: -5px;
  font-size: 0.7em;
  text-align: center;
  letter-spacing: 2px;
}

.grid-6 {
  grid-auto-rows: minmax(550px, 575fr);
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(600px, 620px) minmax(600px, 620px) minmax(600px, 620px);
  grid-template-rows: minmax(600px, 620px) minmax(600px, 620px) minmax(600px, 620px);
}

.cards-grid {
  width: 100%;
  height: 100%;
}

.cardssingle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  margin-bottom: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-16 {
  width: 100%;
  height: 100%;
}

.div-block-17 {
  width: 100%;
  height: 300px;
  background-color: #f3f1ed;
}

.topbottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 3px 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
}

.div-block-18 {
  background-color: #f0f0f0;
}

.div-block-20 {
  height: auto;
}

.grid-7 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.icon {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  margin-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-8 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.card-back {
  position: relative;
  width: 100%;
  background-color: #f3f1ec;
}

.image-square {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100%;
  border-radius: 0%;
  background-color: #d3cfcf;
}

.image-101 {
  position: relative;
}

.div-block-22 {
  position: relative;
  width: 100%;
}

.div-block-23 {
  width: 100%;
  min-height: 60px;
}

.row-1 {
  display: -ms-grid;
  display: grid;
  width: 99%;
  min-height: 60px;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-block-25 {
  position: relative;
  width: 100%;
  padding: 40px 33px 33px;
  background-color: #f3f1ec;
}

.image-102 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.icon-container {
  margin-bottom: -90px;
}

.image-103 {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  background-color: #f3f1ec;
}

.image-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border-radius: 200px;
  background-color: #f3f1ec;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #b5a484;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .grid-4 {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }
  .main-title {
    width: 28px;
  }
  ._70px {
    font-size: 60px;
  }
  .subheading1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
  }
  .subheading2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .colors {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .card-container.white {
    margin-right: 22px;
  }
  .card-container.black {
    margin-right: 22px;
  }
  .hero-main {
    width: 100%;
  }
  .background-hero {
    height: 600px;
  }
  .hero-class-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-5 {
    height: 1000px;
  }
  .centerpsnrl {
    height: 1000px;
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .flavor-block {
    width: 100%;
    height: 500px;
    margin-top: 0px;
  }
  .left-image {
    width: 100%;
    height: 500px;
    background-position: 50% 50%;
  }
  .div-block-8 {
    width: 100%;
    margin-top: 26px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-2 {
    width: 40%;
    margin-top: 4px;
  }
  .knob-creek-image {
    width: 100%;
  }
  .heading-10 {
    margin-top: 0%;
    font-size: 3em;
    text-align: center;
  }
  .paragraph-3 {
    margin-top: 0px;
    padding-right: 70px;
    padding-left: 70px;
    font-size: 1em;
    text-align: center;
  }
  .div-block-10 {
    width: 45%;
  }
  .cards {
    width: 100%;
    height: 620px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .card-wrap {
    background-color: #f3f1ec;
  }
  .image-100 {
    background-color: #f3f1ec;
  }
  .copy {
    position: relative;
    z-index: 900;
  }
  .grid-6 {
    grid-auto-rows: minmax(600px, 620fr);
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .cardssingle {
    height: 100%;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .grid-7 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .image-square {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
  }
  .row-1 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .image-102 {
    height: 100%;
  }
}

@media (max-width: 767px) {
  ._70px {
    font-size: 35px;
    line-height: 37px;
    text-transform: lowercase;
  }
  ._35px {
    font-size: 19px;
    line-height: 21px;
    text-transform: lowercase;
  }
  .subheading1 {
    font-size: 18px;
    line-height: 20px;
    text-transform: lowercase;
  }
  .subheading2 {
    font-size: 17px;
    line-height: 19px;
    text-transform: lowercase;
  }
  .paragraph-3 {
    padding: 15px;
  }
  .div-block-10 {
    width: 80%;
  }
  .cards {
    width: 100%;
    height: 720px;
  }
  .grid-6 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    grid-auto-rows: minmax(730px, 780px);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: minmax(730px, 780px) minmax(730px, 780px) minmax(730px, 780px);
    grid-template-rows: minmax(730px, 780px) minmax(730px, 780px) minmax(730px, 780px);
  }
  .cardssingle {
    height: 700px;
  }
  .grid-7 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .row-1 {
    width: 80%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .image-102 {
    height: 100%;
  }
}

@media (max-width: 479px) {
  .grid {
    grid-auto-columns: 0.25fr;
    -ms-grid-columns: 3fr;
    grid-template-columns: 3fr;
  }
  .grid-4 {
    padding-left: 11px;
    grid-template-columns: repeat(auto-fit, minmax(95%, 0.75fr));
  }
  .colors {
    width: 100%;
  }
  .logo {
    padding-left: 0px;
  }
  .centerpsnrl {
    margin-top: -52px;
  }
  .flavor-block {
    padding: 8px 5px;
  }
  .heading-8 {
    font-size: 18px;
  }
  .heading-10 {
    font-size: 2.2em;
  }
  .paragraph-3 {
    padding: 0px;
  }
  .div-block-9 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-10 {
    width: 100%;
  }
  .cards {
    width: 100%;
    height: auto;
  }
  .copy {
    position: relative;
    z-index: 900;
  }
  .grid-6 {
    height: 620px;
  }
  .div-block-19 {
    height: 620px;
    background-color: #f3f1ec;
  }
  .div-block-20 {
    background-color: #f3f1ec;
  }
  .grid-7 {
    height: auto;
    -ms-grid-rows: minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px);
    grid-template-rows: minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px) minmax(580px, 590px);
    background-color: #f3f1ec;
  }
  .div-block-21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

#w-node-87f9db1e1041-71699c78 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-acb94c5fa38d-71699c78 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d1a3e386b6cf-71699c78 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-d1a3e386b6dd-71699c78 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6d11c8e01439-71699c78 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-6d11c8e01447-71699c78 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6d11c8e0144b-71699c78 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-6d11c8e01456-71699c78 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27774eda68b1-71699c78 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-27774eda68bf-71699c78 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27774eda68c3-71699c78 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-27774eda68ce-71699c78 {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}